:root {
    --off-white:#f5f5f5;
}
*{
    margin:0; padding:0;
}

body {
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.container{
    flex: 1;
    padding:60px 40px;

    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    gap:30px;
}

.game-wrapper {
    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
}
.game-board{
    height: 500px;
    width:500px;

    border:1px solid black;

    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    background-color:var(--off-white);
    border: 1px solid black;
    cursor:pointer;

    display:flex;
    justify-content:center;
    align-items:center;
}
.square:hover {
    filter:brightness(.8);
}

.player-stats {
    display:flex;
    flex-direction:column;
    gap:30px;
}

.player {
    display:grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(2, minmax(20px, 50px));
    grid-template-areas:"name result"
                        "score result";
    align-items:center;;

}

.name {
    grid-area:name;
}

.score {
    grid-area:score;
}
.result {
    grid-area:result;
}

.player.winner{
    background-color:green;
}
.player.loser{
    background-color:rgb(255, 0, 0);
}